body {
    background-color: gray;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.wrapper {
    background-color: rgba(255, 255, 255, 0.795);
    width: 1024;
    margin: 0 auto;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
}

header .brand {
    color: rgb(53, 46, 46);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 170%;
    padding: 40px;
}

header .brand span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40%;
    padding: 20px;
}

.hero {
    height: 400px;
    background: #84beacad url('../psychic-funicular/pic/istockphoto-910314172-612x612.jpg') center no-repeat;
}

footer {
    color: rgb(46, 42, 42);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 40px;
    text-align: center;
    padding: 20px;
    clear: both;
    display: block;
    font-size: 90%;
}

content {
    overflow: hidden;
    display: block;
    padding: 50px;
}

main {
    float: left;
    width: 70%;
}

aside {
    float: right;
}

aside .section {
    background-color: rgba(84, 100, 100, 0.767);
    padding: 30px;
    box-sizing: border-box;
}

aside .section h3 {
    background-color: rgba(100, 109, 109, 0.829);
    color: rgba(214, 214, 142, 0.829);
    padding: 20px;
    margin-top: 0;
}

a {
    color: rgba(42, 68, 60, 0.801);
}

a:hover{
    color: rgb(72, 131, 111);
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

aside a {
    padding: 10px 0;
    display: block;
}

article h2 {
    margin-bottom: 0;
    font-size: 170%;
    color: #333;
    padding: 0;
}

article p {
    margin-top: 10px;
    font-size: 100%;
    color: #333;
    padding: 0;
}

article {
    margin-bottom: 60px;
    margin-top: 60px;
}